@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 0.75rem;
  }
  ::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 0.3125rem;
    height: 15%;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #00b2f3;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
body{
    font-style: normal;
    line-height: 1.74;
    text-decoration: none;
    text-transform: none;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 100%;
}

.sub-btn-a:hover + svg{
transform: rotate(180deg);
color: #00b2f3;
}